<div class="container pt-6">
    <div class="card mx-auto shadow-md" style="max-width: 40rem;" role="button" routerLink="/angular">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="angularUrl" class="card-img-left" alt="angular Logo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="text-uppercase text-primary font-weight-bold">Welcome to Angular Application</div>
            <h2 class="card-title mt-1 text-dark">This page is built in Angular framework</h2>
            <p class="card-text text-muted">This page, built using Angular and Single SPA, leverages Angular's component-based architecture for UI development and Single SPA's micro-frontend framework.</p>
            <p class="text-primary link-underline">View angular shopping application</p>
          </div>
        </div>
      </div>
    </div>
  </div>